ul#menu{
	width:100%;
	position:relative;
	height:27px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	margin:0;
	padding:11px 0 0 10px;
	}

ul#menu li{
	display:block;
	float:left;
	margin:0 0 0 4px;
	height:27px;
	}

ul#menu li.left{
	margin:0;
	}

ul#menu li a{
	display:block;
	float:left;
	color:#fff;
	background:#637F37;
	line-height:27px;
	text-decoration:none;
	padding:0 17px 0 18px;
	height:27px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
	}

ul#menu li a.right{
	padding-right:19px;
	}

ul#menu li a:hover{
	background:#0073EA;
	}

ul#menu li a.current{
	color:#000;
	background:#fff;
	}

ul#menu li a.current:hover{
    color:#000;
	background:#fff;
	}      
	
	
#global-menu li {
    float: left;
    background-repeat: no-repeat;
    padding-left: 20px;
    }   

#global-menu li#Home {
    background-image: url('/static/imgs/home.gif');
    }

#global-menu li a.current {
    color:#FF0084;
    font-weight: bold;
}
